<h2>Experience</h2>

{{#each experience }}
<div data-id="{{ id }}">
  <header>
    <h3>{{ role }}</h3>
    <h4>
      {{ company }} | {{ type }} |
      <span data-timestamp="{{ startDate }}">{{ toDate startDate }}</span> -
      <span data-timestamp="{{ endDate }}">{{ toDate endDate }}</span>
    </h4>
  </header>

  <p>{{ description }}</p>
</div>
{{/each}}
