<!doctype html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{ profile.name }} :: {{ profile.headline.[0] }}</title>

    <link rel="stylesheet" href="/assets/css/main.css" />

    <meta name="description" content="{{ join profile.about ' ' }}" />

    <meta
      property="og:title"
      content="{{ profile.name }} :: {{ profile.headline.[0] }}"
    />
    <meta property="og:type" content="" />
    <meta property="og:url" content="https://tomasz.sobczak.me.uk" />
    <meta property="og:image" content="" />
    <meta property="og:image:alt" content="" />

    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="icon.png" />
  </head>

  <body>
    {{> @partial-block }}

    <script type="module" src="/assets/modules/main.js"></script>
  </body>
</html>
