<!doctype html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/assets/css/main.css" />

    <title>{{ profile.name }} :: {{ profile.headline.[0] }}</title>
    <meta name="description" content="{{ join profile.about ' ' }}" />

    <meta property="og:locale" content="en_GB" />
    <meta property="og:type" content="profile" />
    <meta property="og:profile:first_name" content="{{ profile.firstName }}" />
    <meta property="og:profile:last_name" content="{{ profile.lastName }}" />
    <meta property="og:url" content="https://tomasz.sobczak.me.uk" />
    <meta property="og:title" content="{{ profile.name }}" />
    <meta
      property="og:description"
      content="{{join profile.headline ' | ' }}"
    />
    <meta
      property="og:image"
      content="https://tomasz.sobczak.me.uk/assets/img/avatar.webp"
    />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="300" />

    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="icon.png" />
  </head>

  <body>
    {{> @partial-block }}

    <script type="module" src="/assets/modules/main.js"></script>
  </body>
</html>
