<h2>Projects</h2>

{{#each projects }}
<div data-id="{{ id }}">
  <header>
    <h3>{{ name }}</h3>
    <h4>
      <span data-timestamp="{{ startDate }}">{{ toDate startDate }}</span> -
      <span data-timestamp="{{ endDate }}">{{ toDate endDate }}</span>
    </h4>
  </header>

  {{#each description}}
  <p>{{ this }}</p>
  {{/each}}

  <footer>
    <p>
      <strong>Skills:</strong>
      {{#each skills}}
      <span data-id="{{this}}">{{ expandSkillId this }}</span>
      {{/each}}
    </p>
  </footer>
</div>
{{/each}}
